{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="box">
    <article class="media">
        
        <div class="media-content">
            <div class="content">
                <p>
                    {% if weather.city %}
                        <span class="title">City you searched for is <b>{{ weather.city }}</b></span>
                    
                        <br></br>

                        <span class="subtitle">Temperature at the moment is  <b>{{ weather.temperature }}° F</b></span>

                        <br> 
                        
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="{{weather.icon}}" alt="Image">
                                    <span class="image">Looks like it is <b>{{ weather.weather_description }}</b></span>
                                </figure>
                            </div>
                    {% else %}
                        <span class="title">Sorry, couldn't find the city that you were looking for</b></span>
                    {% endif %}
                </p>
            </div>
        </div>
    </article>
</div>

{% endblock %}
